.login-container {
  display: flex;
  justify-content: center;
  padding: 10em 0;

  .login-panel {
    width: 450px;
    padding: 1em 0.5em;
  }

  .rs-btn-toolbar {
    display: flex;
    justify-content: space-between;
  }
}
