@import "src/assets/styles/constants";

.navbar {
  padding: 0.5em 10em;
  position: fixed;
  width: 100%;
  height: 70px;
  box-shadow: 0 0.3em 0.3em #f5f5f5;

  &.navbarAuthenticated{
    padding: 0.5em;
    box-shadow: none;
  }

  .navbar-logo {
    padding: 0 1em;
  }

  .rs-nav > ul {
    display: flex;
    align-items: center;
  }

  .rs-navbar-header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .rs-dropdown-menu {
    width: 100%;
    text-align: center;
  }

  .rs-navbar-nav {
    .rs-nav-item {
      & > a {
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
